.newuser{
    flex: 4;
}
.newuserform{
    display: flex;
    flex-wrap: wrap;
    
}

.newuserItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 4px;
}
.newuserItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151,150,150);
}
.newuserItem>input{
    height: 20px;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newuserGender>label{
   margin:10px;
   font-size: 18px;
   color: #555;
}
.newuserSelect{
    height: 40px;
    border: 5px;
}
.newUserButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
}